
.weather-station-widget h3 {
    font-size: 1.2em;
}
.weather-station-widget h3, p {
    margin-top: 0;
}
/* add additional custom styles */
.weather-station-widget p {
    font-style: italic;
    color: gray;
    padding-left: 10px;
}

.weather-station-widget h1 {
    padding: 10px;
    margin: 0;
}

.weather-station-widget h1 > span {
    color: red;
}

#currentWeatherInfo {
    width: 336px;
    margin: 0 auto;
}

#currentWeatherInfo h3 {
    text-decoration: underline;
}

.temp {
    float:left;
    font-size: 11em;
    font-family: "Arial Narrow";
    padding: 0 5px;
    width: 186px;
}

.temp:after {
    position: absolute;
    content: "\00b0 C";
    font-size: 0.3em;
}

.info-container-right {
    width: 150px;
    padding: 0 5px;
    margin: 0;
    float:left;

}

.info-container-right  h3 {
    margin: 0 0 5px 0;
    padding: 0;
}

.info-container-right span {
    padding-top: 5px;
    font-size: 1.5em;
}

.info-container-right div {
    height: 66px;
    padding: 5px 0 5px 15px;
}

.info-container-bottom {
    clear:left;
}


.info-container-bottom ul {
    float: left;
    list-style-type: none;
    margin: 0 auto;
    width: 336px;
    padding: 0 0 10px 0;
}

.info-container-bottom ul li{
    vertical-align: text-top;
    display: inline-block;
    width: 100px;
    padding: 0 5px;
}

.info-container-bottom p {
    display: inline-block;
    font-size: 1.5em;
    padding: 0;
    font-style: normal;
    color: #333;
}

.info-container-bottom span {
    font-size: 1em;
}