// App colours

$primary-app-colour: blue;
$white: rgba(255, 255, 255, 0.95);

$modal-background-colour: $white;

// Settings
$modal-z-index: 1060;
$modal-max-width: 35em;
$modal-max-height: 60%;
$modal-right: 3%;
$modal-padding: 0 1em 1.5em;
$modal-section-padding: 1em;
